<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    
    <servlet>
        <servlet-name>BuscarMaterial</servlet-name>
        <servlet-class>servlet.BuscarMaterial</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuscarMaterial</servlet-name>
        <url-pattern>/BuscarMaterial</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>BuscarReserva</servlet-name>
        <servlet-class>servlet.BuscarReserva</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuscarReserva</servlet-name>
        <url-pattern>/BuscarReserva</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AgregarReserva</servlet-name>
        <servlet-class>servlet.AgregarReserva</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AgregarReserva</servlet-name>
        <url-pattern>/AgregarReserva</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
